@import 'vars';
@import 'typography';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;

  padding-top: 80px;
  padding-bottom: 180px;
}

/* app css stylesheet */

body {
    padding-top: 80px;
    padding-bottom: 180px;
}

.weather.panel {
    /*font-weight: lighter !important;*/
}

.weather.panel .panel-heading {
    font-weight: lighter !important;
    font-size: 1.2em;
}

.weather.panel .panel-footer {
    font-weight: lighter !important;
}